h1= title
table
    tr
        th Date
        th Time
        th Description
        th Tags
    each event in events
        tr
            td= event.date
            td= event.time
            td= event.description
            td= event.tags
